blue = #5B83AD
yellow = #FFFFE0

body
  padding 50px

  .template
    padding 50px 10px
    border-radius 10px
    

  .helper
    border 1px solid blue

  .box
    transform rotate(-15deg)
    margin-top 150px
    position absolute
    padding 10px
    background linear-gradient(top, red, maroon)
    color white
    text-shadow 1px 1px black

